@model global::Task.Models.Car

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Num)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Num)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-4">
        @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-secondary" })
    </div>
    <div class="col-4">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Num }, htmlAttributes: new { @class = "btn btn-warning" })
    </div>
    <div class="col-4">
        @Html.ActionLink("Delete", "Delete", new { id = Model.Num }, htmlAttributes: new { @class = "btn btn-danger" })
    </div>
</div>